/bin
bin/
bin/*
bin
.class
*.class
*/*.class
*/*/*.class
*/*/*/*.class
*/*/*/*/*.class
*/*/*/*/*/*.class
*/*/*/*/*/*/*.class
*/*/*/*/*/*/*/*.class
*/*/*/*/*/*/*/*/*.class
*/*/*/*/*/*/*/*/*/*.class
*/*/*/*/*/*/*/*/*/*/*.class
/bin
